<script type="text/html" id="tpl-item">
<fieldset>
    <legend>Item {id}</legend>
    <div>
        <label for="txtItem_{id}">Item:</label>
        <input type="text" name="txtItem_{id}" id="txtItem_{id}" />
    </div>
    <div>
        <label for="txtQuantidade_{id}">Quantidade:</label>
        <input type="number" name="txtQuantidade_{id}" id="txtQuantidade_{id}" />
        <label for="txtUnidade_{id}">Unidade de Medida:</label>
        <input type="text" name="txtUnidade_{id}" id="txtUnidade_{id}" />
        <span>g(gramas), kg(kilogramas)</span>
        <button id="btnRemoverItem_{id}">Remover item</button>
    </div>
</fieldset>
</script>
<fieldset>
    <legend>Itens a solicitar</legend>
    <p>Preencha os itens conforme a sua necessidade, lembre-se para evitar estocar grandes quantidades, pense no próximo
    </p>
    <div id="div-itens">
    </div>
    <br />
    <button id="btnAddItem">Adicionar item</button>
</fieldset>
<script>
    const divItens = document.getElementById("div-itens"),
        itemTpl = document.getElementById("tpl-item").innerHTML;
</script>