<script type="text/html" id="tpl-item">
<div id="fieldset-{id}" class="Box-body">
    <label for="txtItem_{id}">Item: </label>
    <input type="text" name="txtItem_{id}" class="form-control" placeholder="Nome do item" required />
    <input type="number" name="txtQuantidade_{id}" class="form-control" placeholder="Quantidade" required />
    <input type="text" name="txtUnidade_{id}" class="form-control" placeholder="g(gramas), kg(kilogramas)" required />
    <button class="remove-item btn btn-sm btn-danger" data-id="{id}">Remover item</button>
</div>
</script>
<fieldset>
    <legend>Itens a solicitar</legend>
    <p>Preencha os itens conforme a sua necessidade, lembre-se para evitar estocar grandes quantidades, pense no próximo
    </p>
    <form id="form-items" class="Box Box--condensed">
        <div class="Box-body">
            <div id="div-itens" class="Box Box--condensed"></div>
        </div>
        <div class="Box-footer">
            <button id="btnAddItem" class="btn btn-primary mr-2">Adicionar item</button>
        </div>
    </form>
</fieldset>
<br/>
<script>
    const divItens = document.getElementById("div-itens"),
        formItems = document.getElementById("form-items"),
        itemTpl = document.getElementById("tpl-item").innerHTML;
</script>