<script type="text/html" id="tpl-item">
<fieldset id="fieldset-{id}">
    <legend><label for="txtItem_{id}">Item</label></legend>
    <dl>
        <dd>
            <input type="text" name="txtItem_{id}" class="form-control" placeholder="Nome do item" required />
            <input type="number" name="txtQuantidade_{id}" class="form-control" placeholder="Quantidade" required />
            <input type="text" name="txtUnidade_{id}" class="form-control" placeholder="g(gramas), kg(kilogramas)" required />
            <button class="remove-item btn btn-secondary mr-2" data-id="{id}">Remover item</button>
        </dd>
    </dl>
</fieldset>
</script>
<fieldset>
    <legend>Itens a solicitar</legend>
    <p>Preencha os itens conforme a sua necessidade, lembre-se para evitar estocar grandes quantidades, pense no próximo
    </p>
    <div id="div-itens">
    </div>
    <dl>
        <dd>
            <button id="btnAddItem" class="btn btn-primary mr-2">Adicionar item</button>
        </dd>
    </dl>
</fieldset>
<script>
    const divItens = document.getElementById("div-itens"),
        itemTpl = document.getElementById("tpl-item").innerHTML;
</script>