<script type="text/html" id="tpl-item">
<div id="{id}" class="Box-body">
    <label for="nome_{id}">Item: </label>
    <input type="text" name="nome_{id}" class="form-control" placeholder="Nome do item" value="{nome}" required />
    <input type="number" name="quantidade_{id}" class="form-control" placeholder="Quantidade" value="{quantidade}" required />
    <input type="text" name="unidade_{id}" class="form-control" placeholder="g(gramas), kg(kilogramas)" value="{unidade}" required />
    <button type="button" class="remove-item btn btn-sm btn-danger d-none" data-id="{id}">Remover item</button>
</div>
</script>
<dl>
    <form id="form-items" class="Box Box--condensed">
        <div class="Box-body">
            <div id="div-itens" class="Box Box--condensed"></div>
        </div>
        <div class="Box-footer">
            <button id="btnAddItem" class="btn btn-primary mr-2">Adicionar item</button>
        </div>
    </form>
</dl>