<script>
    const addHtmlItem = function addHtmlItem(item) {
        const text = itemTpl.supplant(item);
        divItens.insertAdjacentHTML('beforeend', text);
    },
        addItem = function addItem() {
            const item = new Item({});
            addHtmlItem(item);
        },
        removeItem = function removeItem(id) {
            const elem = document.getElementById(`fieldset-${id}`);
            if (elem) {
                divItens.removeChild(elem);
            }
            !divItens.childElementCount && addItem();
        };
</script>