<form>
    <fieldset>
        <legend>Estabelecimento</legend>
        <p>Aqui você pode filtrar o estabelecimento conforme categorias</p>
        <div>
            <label for="txtEstabelecimentoCategoria">Categoria:</label>
            <input type="text" name="txtEstabelecimentoCategoria" id="txtEstabelecimentoCategoria" />
        </div>
        <div>
            <p>Ao selecionar um estabelecimento você verá informações de contato</p>
            <label for="txtEstabelecimentoNome">Estabelecimento:</label>
            <select name="txtEstabelecimentoNome" id="txtEstabelecimentoNome">
                <option value="-1" selected="true">Selecione um estabelecimento</option>
            </select>
        </div>
        <div>
            <h3>Detalhes do estabelecimento</h3>
            <div>
                <strong>Nome: </strong> Nome do estabelecimento <br />
                <strong>Telefone: </strong> (99) 9999 - 9999 <br />
                <strong>Whatsapp (opcional): </strong> (99) 9999 - 9999 <br />
                <strong>Logradouro: </strong> Tipo do Logradouro + Nome do Logradouro + Número do Lote +
                Complemento (se houver)<br />
                <strong>Bairro: </strong> Nome do Bairro <br />
                <strong>Cidade/UF: </strong> Nome da Localidade + Sigla da Unidade da Federação <br />
            </div>
        </div>
    </fieldset>
</form>