<form id="formDadosPessoais">
    <fieldset>
        <legend>Seus dados</legend>
        <div>
            <label for="txtNome">Nome:</label>
            <input type="text" name="txtNome" id="txtNome" />
        </div>
        <div>
            <label for="txtCelular">Celular:</label>
            <input type="tel" name="txtCelular" id="txtCelular" />
        </div>
        <div>
            <label for="txtEmail">E-mail:</label>
            <input type="email" name="txtEmail" id="txtEmail" />
        </div>
    </fieldset>
</form>