{% include script_controller.html %}

<script>
    const Estabelecimento = function Estabelecimento(d) {
        if (!(this instanceof Estabelecimento))
            return new Estabelecimento(formData);

        Object.assign(this, d || {});
    },
        estabelecimentoController = controller('estabelecimentos', Estabelecimento);

    document.getElementById("aProx")
        .addEventListener("click", function (ev) {
            const form = document.getElementById("formDadosEstabelecimento");
            const formData = new FormData(form);
            const estabelecimento = new Estabelecimento(formData);
            try {
                estabelecimentoController.add(estabelecimento);
            } catch (error) {
                ev.preventDefault();
                console.error(error);
                return false;
            }
        });

    window.addEventListener("load", function (event) {
        Object.defineProperty(Array.prototype, 'unique', {
            enumerable: false,
            configurable: false,
            writable: false,
            value: function (checkCallback) {
                var a = this.concat();
                for (var i = 0; i < a.length; ++i) {
                    for (var j = i + 1; j < a.length; ++j) {
                        let equal = false;
                        if (typeof (checkCallback) === "function")
                            equal = checkCallback(a[i], a[j]);
                        else
                            equal = JSON.stringify(a[i]) === JSON.stringify(a[j]);
                        if (equal)
                            a.splice(j--, 1);
                    }
                }

                return a;
            }
        });
        const request = new XMLHttpRequest();
        request.open('GET', '/assets/estabelecimentos.json', true);

        request.onload = function () {
            if (this.status >= 200 && this.status < 400) {
                // Success!
                try {
                    const estabelecimentos = JSON.parse(this.response);

                    estabelecimentoController.refresh(
                        estabelecimentoController
                            .getAll()
                            .concat(estabelecimentos)
                            .unique(function (a, b) {
                                return JSON.stringify(a["Endereço"])
                                    === JSON.stringify(b["Endereço"])
                            })
                    );
                } catch (error) {
                    console.error(error);
                }
            } else {
                // We reached our target server, but it returned an error
            }
        };

        request.onerror = function () {
            // There was a connection error of some sort
        };

        request.send();
    })
</script>