<script>
    const controller = function controller(key, obj) {
        var lista = localStorage.getItem(key);
        if (lista) lista = JSON.parse(lista);
        lista = lista || [];

        lista = lista.map(i => new obj(i));

        const updateStorage = function updateStorage() {
            var str = JSON.stringify(lista);
            localStorage.setItem(key, str);
        };

        const change = function change(item, action) {
            if (!(item instanceof obj)) {
                alert('Ação não permitida');
                return;
            }
            action();
            updateStorage();
        };

        return Object.create(null, {
            getAll: {
                enumerable: true, writable: false, configurable: true, value: function (prop, value) {
                    if (prop && value)
                        return lista.filter(p => p[prop] === value);
                    return lista;
                }
            },
            get: {
                enumerable: true, writable: false, configurable: true, value: function (prop, value) {
                    if (prop && value)
                        return lista.find(p => p[prop] === value);
                }
            },
            add: {
                enumerable: true, writable: false, configurable: true, value: function (item) {
                    change(item, function () {
                        lista.push(item);
                    });
                }
            },
            remove: {
                enumerable: true, writable: false, configurable: true, value: function (item) {
                    change(item, function () {
                        var index = lista.findIndex(p => p.id === item.id);
                        lista.splice(index, 1);
                    });
                }
            },
            update: {
                enumerable: true, writable: false, configurable: true, value: function (item) {
                    change(item, function () {
                        var p = lista.find(p => p.id === item.id);
                        Object.assign(p, item);
                    });
                }
            }
        });
    };
</script>