<script>
    const solicitacao = (function Solicitacao(d) {
        const storageKey = "solicitcao",
            solicitcaoObj = Object.create(null, {});

        const getSolicitacao = function getSolicitacao() {
            const solicitcaoStr = localStorage.getItem(storageKey);

            if (solicitcaoStr)
                Object.assign(solicitcaoObj, JSON.parse(solicitcaoStr));

            return solicitcaoObj;
        };

        const updateStorage = function updateStorage() {
            const str = JSON.stringify(solicitcaoObj);
            localStorage.setItem(storageKey, str);
        }

        const change = function change(value) {
            Object.assign(solicitcaoObj, value);
            updateStorage();
        };

        const addEstabelecimento = function addEstabelecimento(estabelecimento) {
            change("estabelecimento", estabelecimento);
        };

        const addContato = function addContato(contato) {
            change("contato", contato);
        };

        const addItens = function addItens(items) {
            change("items", items);
        };

        return Object.create(null, {
            addContato: defineProp(addContato),
            addEstabelecimento: defineProp(addEstabelecimento),
            addItens: defineProp(addItens),
            getSolicitacao: defineProp(getSolicitacao)
        });
    }());
</script>