<form id="formDadosPessoais">
    <dl>
        <dt><label for="nome">Nome</label></dt>
        <dd><input type="text" name="nome" id="nome" class="form-control input-block"  placeholder="Seu nome completo"
                required /></dd>
    </dl>
    <dl>
        <dt><label for="celular">Celular</label></dt>
        <dd><input type="tel" name="celular" id="celular" class="form-control input-block" placeholder="Seu telefone celular"
                required maxlength="15" pattern="\(?[0-9]{2}\)?\s?[0-9]{4,6}-?[0-9]{3,4}$" title="Preencha com um telefone (99)9999-9999. Parênteses e traço são opicionais."/></dd>
    </dl>
    <dl>
        <dt><label for="email">E-mail</label></dt>
        <dd><input type="email" name="email" id="email" class="form-control input-block" placeholder="email"
                required /></dd>
    </dl>
</form>
