<form id="formDadosPessoais">
    <dl>
        <dt><label for="txtNome">Nome</label></dt>
        <dd><input type="text" name="txtNome" id="txtNome" class="form-control input-block"  placeholder="Seu nome completo"
                required /></dd>
    </dl>
    <dl>
        <dt><label for="txtCelular">Celular</label></dt>
        <dd><input type="tel" name="txtCelular" id="txtCelular" class="form-control input-block" placeholder="Seu telefone celular"
                required /></dd>
    </dl>
    <dl>
        <dt><label for="txtEmail">E-mail</label></dt>
        <dd><input type="email" name="txtEmail" id="txtEmail" class="form-control input-block" placeholder="email"
                required /></dd>
    </dl>
</form>
<br />