<script type="text/html" id="tpl-estabelecimento-selecionado">
<div><strong>Nome: </strong> {Nome}</div>
<div><strong>Telefone: </strong> {Telefone}</div>
<div><strong>Whatsapp (opcional): </strong> {Whatsapp}</div>
<div><strong>Endereço: </strong> {end}</div>
</script>
<form id="formEstabelecimento">
    <dl>
        <dt><label for="txt-estado">Localização</label></dt>
        <dd>
            <select name="txt-estado" id="txt-estado" class="form-control" required>
                <option value="-1" selected="true">Selecione um estado</option>
            </select>
            <select name="txt-cidade" id="txt-cidade" class="form-control" required>
                <option value="-1" selected="true">Selecione uma cidade</option>
            </select>
            <select name="txt-bairro" id="txt-bairro" class="form-control" required>
                <option value="-1" selected="true">Selecione um bairro</option>
            </select>
        </dd>
    </dl>
    <dl>
        <dt><label for="txtEstabelecimentoCategoria">Categoria</label></dt>
        <dd><input type="text" name="txtEstabelecimentoCategoria" id="txtEstabelecimentoCategoria"
                class="form-control input-block" placeholder="mercado, açougue" required /></dd>
    </dl>
    <dl>
        <dt><label for="txtEstabelecimentoNome">Estabelecimento</label></dt>
        <dd>
            <select name="txtEstabelecimentoNome" id="txtEstabelecimentoNome" class="form-control input-block" required>
                <option value="-1" selected="true">Selecione um estabelecimento</option>
            </select></dd>
    </dl>
</form>

<h3>Detalhes do estabelecimento selecionado</h3>
<dl id="divDetalhes">
    <div><strong>Nome: </strong></div>
    <div><strong>Telefone: </strong></div>
    <div><strong>Whatsapp (opcional):</strong></div>
    <div><strong>Endereço: </strong></div>
</dl>

<script>
    const estabelecimentoSelecionadoTpl = document.getElementById("tpl-estabelecimento-selecionado").innerHTML,
        divDetalhes = document.getElementById("divDetalhes"),
        formEstabelecimento = document.getElementById("formEstabelecimento");
</script>