<script type="text/html" id="estabelecimento-data-tpl">
    <div class="Box-row"><strong>Nome: </strong>{nome}</div>
    <div class="Box-row"><strong>Telefone: </strong>{telefone}</div>
    <div class="Box-row"><strong>Whatsapp: </strong>{whatsapp}</div>
    <div class="Box-row"><strong>E-mail: </strong>{email}</div>
    <div class="Box-row"><strong>Endereço: </strong>{end}</div>
</script>
<dl class="Box Box--condensed">
    <div class="Box-header">
        Estabelecimento selecionado
    </div>
    <div class="Box Box--condensed">
        <div id="estabelecimento-data">
            <div class="Box-row"><strong>Sem estabelecimento selecionado</strong></div>
        </div>
    </div>
    <div>
    </div>
    <div class="Box-footer">
        <a href="{{ '/estabelecimento' | prepend: site.baseurl }}">Editar estabelecimento</a>
    </div>
</dl>