{% capture scripts %}
(function () {
{% include js/controller.js %}
{% include js/define_prop.js %}
{% include js/guid.js %}
{% include js/supplant.js %}
{% include js/insertAdjacent.js %}
{% include js/addHtml.js %}
{% include js/domHelpers.js %}
{% include js/solicitacao.js %}
{% include js/check_solicitacao.js %}
{% include itens/Item.js %}
{% include encaminhar/variaveis.js %}
{% include encaminhar/contato.js %}
{% include encaminhar/estabelecimento.js %}
{% include encaminhar/itens.js %}
{% include encaminhar/email.js %}
{% include encaminhar/whatsapp.js %}
}());
{% endcapture %}

<script>{{ scripts | uglify | strip }}</script>