<form method="POST" action="https://submit-form.com/qhft9OKUmBOWjwk1uKxVf">
    <input type="hidden" name="_email.subject" value="Cadastro de estabelecimento!" />
    <input type="hidden" name="_feedback.success.title" value="Obrigado, logo seu cadastro será efetuado!" />
    <input type="hidden" name="_redirect" value="{{ '/obrigado/' | absolute_url }}" />

    <dl>
        <dt><label for="nome">Nome do estabelecimento</label></dt>
        <dd><input type="text" class="form-control input-block" name="nome" placeholder="Nome do estabelecimento"
                required /></dd>
    </dl>
    <dl>
        <dt><label for="telefone">Telefone de contato</label></dt>
        <dd><input type="tel" class="form-control" name="telefone" placeholder="(99) 9999-9999" required />
        </dd>
    </dl>
    <dl>
        <dt><label for="whatsapp">Whatsapp de contato</label></dt>
        <dd><input type="tel" class="form-control" name="whatsapp" placeholder="(99) 9999-9999" required />
        </dd>
    </dl>
    <dl>
        <dt><label for="logradouro">Logradouro</label></dt>
        <dd><input type="text" class="form-control input-block" name="logradouro" placeholder="Rua, número" required />
        </dd>
    </dl>
    <dl>
        <dt><label for="bairro">Bairro</label></dt>
        <dd><input type="text" class="form-control input-block" name="bairro" placeholder="Bairro" required /></dd>
    </dl>
    <dl>
        <dt><label for="cidade">Cidade</label></dt>
        <dd><input type="text" class="form-control input-block" name="cidade" placeholder="Cidade" required /></dd>
    </dl>
    <dl>
        <dt><label for="estado">Estado</label></dt>
        <dd><input type="text" class="form-control input-block" name="estado" placeholder="Estado" required /></dd>
    </dl>
    <dl>
        <dt><label for="categoria">Categoria</label></dt>
        <dd><input type="text" class="form-control input-block" name="categoria"
                placeholder="Categorias, separadas por vírgula - mercado, ferragem" required /></dd>
    </dl>

    <br />
    <button type="submit" class="btn btn-primary mr-2">Encaminhar</button>
</form>
<br />